# .aliases
# file with aliases used on shells (bash & fish)

# navigation
alias ..="cd .."                                          # go back one directory
alias ...="cd ../.."                                      # go back two directories

# system management
alias up="paru -Syu --noconfirm"                          # full system upgrade
alias shutd="shutdown now"                                # power off machine
alias suspend="systemctl suspend"                         # suspend machine

# program replacements
alias vim="nvim"                                          # sudo ln -s /bin/nvim /bin/vim
alias cat="bat --theme=TwoDark --style=header,grid"       # batcat as default cat
alias ls="eza --group-directories-first -la"              # eza as default ls
alias copy="rsync -ahP"                                   # use rsync with progress bar to copy large files 
alias move="rsync -ahP --remove-source-files"             # same but for mv

# ol (oneletters)
alias g="git"                                             # git
alias k="kubectl"                                         # kubernetes
alias d="docker"                                          # docker
alias p="sudo pacman"                                     # package manager (pacman)
alias v="vagrant"                                         # vagrant 
alias q="exit"                                            # quit terminal
alias m="make"                                            # make
alias a="ansible-playbook"                                # ansible-playbook

# manage dotfiles repo
alias gd="git --git-dir=$HOME/.cfg/ --work-tree=$HOME"    # manage dotfiles
alias gds="gd status --short"                             # get status in short mode
alias gda="gd add"                                        # add file
alias gdu="gd add -u"                                     # add updated files
alias gdc="gd commit -m"                                  # commit changes
alias gdp="gd push"                                       # push to remote branch

# programs shorters
alias dc="docker-compose"                                 # docker-compose remapped to "dc"
alias tf="terraform"                                      # terraform
alias sys="sudo systemctl"                                # systemctl remapped to "sys"
alias lt="eza -Tta"                                       # eza on tree mode
alias df="df -h"                                          # df with dynamic file's size display
alias du="du -h"                                          # same as df
alias ip="ip --color=auto"                                # ip with colors
alias neo="neofetch"                                      # neofetch remapped to neo
alias ff="fastfetch --config paleofetch"                  # same as neofetch but faster
alias ping="ping -c 2"                                    # to ping 2 times as default
alias pubip="curl ifconfig.me -w '\n'"                    # get public ip
alias tt="traceroute"                                     # traceroute remapped to "tt"
alias todo="vim $HOME/.TODO.md"                           # open TODO.md
alias st="speedtest"                                      # running network speedtest script
alias pk="pkill -i"                                       # kill a process by given PROCESS NAME
alias cl="clear"                                          # clear terminal
alias py="python"                                         # run python
alias ns="nslookup"                                       # run nslookup
alias h2t="html2text"                                     # html2text shorter

# py-coreutils (github.com/jvicg/py-coreutils)
alias rm="rmv3"                                           # rm replacement
alias rml="recover -l"                                    # list files in the trash

# virsh
alias vc="virsh"                                          # virsh command line
alias vv="virt-viewer"                                    # virt-viewer (localhost by default)
alias vm="virt-manager"                                   # virsh GUI

# gnome 
alias logout="gnome-session-quit --no-prompt"             # logout from gnome
alias settings="gnome-control-center"                     # open settings
alias keybindings="settings keyboard"                     # open keyboard settings section (keybindings)
alias sound="settings sound"                              # open sound settings

# emacs
alias emacs="emacsclient -c -a 'emacs'"                   # emacs client as default emacs editor
alias emacs-kill="emacsclient -e '(kill-emacs)'"          # kill emacs
alias emacs-daemon="/bin/emacs --daemon"                  # start emacs daemon
alias emacs-restart="emacs-kill && emacs-daemon"          # restart emacs daemon

# python
alias py-http="sudo python3 -m http.server 8080"          # launch a simple http server on working directory
alias py-venv="python -m venv"                            # create a python virtual enviroment on DIRECTORY

