# .aliases
# file with aliases used on shells (bash & fish)
# vi: set ft=bash :

# navigation
alias ..="cd .."                                          # go back one directory
alias ...="cd ../.."                                      # go back two directories

# system management
alias up="paru -Syu --noconfirm"                          # full system upgrade
alias shutd="shutdown now"                                # power off machine
alias suspend="systemctl suspend"                         # suspend machine

# program replacements
alias vim="nvim"                                          # sudo ln -s /bin/nvim /bin/vim
alias cat="bat --theme=TwoDark --style=header,grid"       # batcat as default cat
alias ls="eza --group-directories-first -la"              # eza as default ls
alias copy="rsync -ahP"                                   # use rsync with progress bar to copy large files 
alias move="rsync -ahP --remove-source-files"             # same but for mv
alias df="duf"                                            # replace df with duf
alias rm="trash-put"                                      # send files to trash instead of removing

# ol (oneletters)
alias c="cd"                                              # change directory (zoxide)
alias g="git"                                             # git
alias k="kubectl"                                         # kubernetes
alias d="docker"                                          # docker
alias p="sudo pacman"                                     # package manager (pacman)
alias v="vagrant"                                         # vagrant 
alias q="exit"                                            # quit terminal
alias m="make"                                            # make
alias a="ansible-playbook"                                # ansible-playbook
alias r="VISUAL=$EDITOR ranger --cmd='set show_hidden!'"  # show hidden files with ranger

# programs shorters
alias dc="docker-compose"                                 # docker-compose 
alias tf="terraform"                                      # terraform
alias sys="sudo systemctl"                                # systemctl 
alias neo="neofetch"                                      # neofetch 
alias ff="fastfetch --config paleofetch"                  # same as neofetch but faster
alias myip="curl ifconfig.me -w '\n'"                     # get public ip
alias cl="clear"                                          # clear terminal
alias py="python"                                         # run python
alias ns="nslookup"                                       # run nslookup
alias h2t="html2text"                                     # html2text pretty style

# append opts
alias lt="eza -Tta"                                       # eza on tree mode
alias du="du -h"                                          # du with dynamic file's sizes
alias ip="ip --color=auto"                                # ip with colors
alias grep="grep --color=auto"                            # grep with colors
alias ping="ping -c2"                                     # to ping 2 times as default
alias pk="pkill -i"                                       # kill a process by given PROCESS NAME

# git shorters
alias gs="git status"                                     # status
alias ga="git add"                                        # add
alias gc="git commit"                                     # commit
alias gp="git push"                                       # push
alias gch="git checkout"                                  # checkout
alias gss="git status --short"                            # status in short mode
alias gl="git log"
alias gls="git log --graph --oneline --decorate --all"    # git log short

# trash handling
alias tput="trash-put"                                    # send to trash
alias trecover="trash-recover"                            # recover from trash
alias tlist="trash-list"                                  # list trash files

# manage dotfiles repo
alias gd="git --git-dir=$HOME/.cfg/ --work-tree=$HOME"    # manage dotfiles repo
alias gds="gd status --short"                             # get status in short mode
alias gda="gd add"                                        # add file
alias gdc="gd commit"                                     # commit changes
alias gdp="gd push"                                       # push to remote branch

# # py-coreutils (github.com/jvicg/py-coreutils)
# alias rm="rmv3"                                           # rm replacement
# alias rml="recover -l"                                    # list files in the trash

# virsh
alias vc="virsh"                                          # virsh command line
alias vv="virt-viewer"                                    # virt-viewer (localhost by default)
alias vm="virt-manager"                                   # virsh GUI

# gnome 
alias logout="gnome-session-quit --no-prompt"             # logout from gnome
alias settings="gnome-control-center"                     # open settings
alias keybindings="settings keyboard"                     # open keyboard settings section (keybindings)
alias sound="settings sound"                              # open sound settings

# python modules
alias py-http="python3 -m http.server 8080"               # launch a simple http server on working directory
alias py-venv="python3 -m venv"                           # create a python virtual enviroment on DIRECTORY

# tmp
alias akcli="poetry run akcli"

