# .aliases
# file with aliases used by bash and fish

# navigation
alias ..="cd .."                                          # go back one directory
alias ...="cd ../.."                                      # go back two directories

# system management
alias shutd="shutdown now"                                # power off machine
alias suspend="systemctl suspend"                         # suspend machine
alias up="paru -Syu --noconfirm"                          # full system upgrade

# program replacements
alias cat="bat --theme=TwoDark --style=header,grid"       # batcat as default cat
alias ls="eza --group-directories-first -la"              # default ls command
alias copy="rsync -ahP"                                   # like cp but with progress bar (for large files)
alias move="rsync -ahP --remove-source-files"             # same but for mv
alias vim="nvim"                                          # classic replacement

# ol (oneletters)
alias g="git"                                             # git
alias k="kubectl"                                         # kubernetes
alias d="docker"                                          # docker
alias p="sudo pacman"                                     # package manager (pacman)
alias v="vagrant"                                         # vagrant 
alias q="exit"                                            # quit terminal

# programs shorters
alias dc="docker-compose"                                 # docker-compose remapped to "dc"
alias sys="sudo systemctl"                                # systemctl remapped to "sys"
alias lt="eza -Tta"                                       # eza on tree mode
alias df="df -h"                                          # df with dynamic file's size display
alias du="du -h"                                          # same as df
alias ip="ip --color=auto"                                # ip addr with colors
alias neo="neofetch"                                      # neofetch remapped to neo
alias ff="fastfetch --config paleofetch"                  # neofetch but faster
alias ping="ping -c 2"                                    # to ping 2 times as default
alias pubip="curl ifconfig.me -w '\n'"                    # get public ip
alias tt="traceroute"                                     # traceroute remapped to "tracert"
alias todo="vim $HOME/.TODO.md"                           # open TODO
alias st="speedtest"                                      # running speedtest script
alias pk="pkill"                                          # kill a process by given PROCESS NAME

# py-coreutils (github.com/nrk19/py-coreutils)
alias rm="rmv3"                                           # rm replacement
alias rml="recover -l"                                    # list files in the trash

# virsh
alias vc="virsh"                                          # virsh command line
alias vv="virt-viewer"                                    # virt-viewer (localhost by default)
alias vm="virt-manager"                                   # virsh GUI

# gnome 
alias logout="gnome-session-quit --no-prompt"             # logout from gnome
alias settings="gnome-control-center"                     # open settings
alias keybindings="settings keyboard"                     # open keyboard settings section (keybindings)
alias sound="settings sound"                              # open sound settings

# emacs
alias emacs="emacsclient -c -a 'emacs'"                   # emacs client as default emacs editor
alias emacs-kill="emacsclient -e '(kill-emacs)'"          # kill emacs
alias emacs-daemon="/bin/emacs --daemon"                  # start emacs daemon
alias emacs-restart="emacs-kill && emacs-daemon"          # restart emacs daemon

# python
alias py-http="sudo python3 -m http.server 80"            # launch a simple http server on working directory
alias py-venv="python -m venv"                            # create a python virtual enviroment

alias gd="/usr/bin/git --git-dir=$HOME/.dots/ --work-tree=$HOME"
