.config/fish/fish_variables
.bash_history

.config/Code/User/WorkspaceStorage/
.config/Code/User/globalStorage/
.config/Code/User/History/
.config/Code/CachedData/
.config/Code/Backups/

.config/awesome/errors.log

*.tmp
*.log
