[Desktop Entry]
Version=1.0
Type=Application
Name=Virt-Viewer
GenericName=Virtual Machine Viewer
Comment=Connect remotely to a machine display server.
Exec=virt-viewer
Icon=virt-viewer
Terminal=false
Categories=System;Virtualization;
Keywords=virtualization;vm;viewer;

